[submodule "ext/imgui"]
	path = ext/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
