[submodule "ext/imgui"]
	path = ext/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/cpp-httplib"]
	path = ext/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "ext/pistache"]
	path = ext/pistache
	url = git@github.com:pistacheio/pistache.git
[submodule "ext/oatpp"]
	path = ext/oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "ext/oatpp-example-crud"]
	path = ext/oatpp-example-crud
	url = https://github.com/oatpp/example-crud.git
